@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* 구글폰트noto sans Korean */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    word-break: keep-all;
    /* line-height: 1; */
    /* outline: 1px solid red; */
    
}
:root{
    font-family:'Noto Sans KR', sans-serif;
}

.inner{
    width: 1200px;
    margin: 0 auto;
}

.sec01{text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;}

.sec01 .logo {
    background: url(/imgs/dstory/logo.png) no-repeat 50% 50%;
    width:185px;
    height: 76px;
    margin: 35px 0 25px 0;
    display: block;
    text-indent: -9000px;
    overflow: hidden;
}
.sec01 .copy {
    height: 50px;
    line-height: 50px;
    color: #4A4A4A;
}
.sec01 .copy::before{content: "\f10d";}
.sec01 .copy::after{content:"\f10e";}

.sec01 .copy::before,
.sec01 .copy::after {
    font-size: 1.2rem;
    color: #4A4A4A;
    position: relative;
    top: -10px;
}
.sec02{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px 0;
}

.sec02 > .box {
    flex: 0 0 290px;
    height: 230px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    background-color: #E8E8E8;
}

.sec02 > img.box {
    overflow: hidden;
    padding: 0px;
}
.sec02 > .box.b2{
    color: #fff;
    background: #DB0D26;
    border-color: #fff;
}
.sec02 > .box.b3{
    margin: 0 20px;
    padding: 50px 45px;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 500;
    color: #5E5A5A;
}
.sec02 > .box.b4{
    background: url(/imgs/dstory/Frame1-4.png) no-repeat 50% 50% / cover, rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply ;
    color: #fff;
    border-color: #fff;
}
.sec02 > .box.b5{
color: #4A4A4A;
border-color: #000;
}
.sec02 > .box.b6{
    flex: 1 1 600px;
    margin: 0 20px 0 0;
}
.sec02 > .box.b7{
    background: url(/imgs/dstory/Frame2-4.png) no-repeat 50% 50% / cover;
    color: #fff;
    border-color: #fff;
}
.sec02 > .box.b8{filter: brightness(80%);}
.sec02 > .box.b9{
    color: #4A4A4A;
    border-color: #000;
    }
.sec02 > .box.b10{
        margin: 0 20px;
        background: url(/imgs/dstory/Frame3-3.png) no-repeat 50% 50% / cover;
        color: #fff;
        border-color: #fff;
    }
.sec02 > .box.b11{
        padding: 50px 45px;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        font-weight: 500;
        color: #5E5A5A;
    }

.sec02 > .box > .title {
        font-size: 1.5rem;
        font-weight: 700;
    }
.sec02 > .box > .copy{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box; 
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-height: 2;
        max-height: 3.6rem;
        font-size: 0.8rem;
        flex: 1 1 0;
        margin: 10px 0;
}
.sec02 > .box > .date{
    font-size: 0.7rem;
    font-weight: 400;
}

.sec02 > .box > a:link,
.sec02 > .box > a:visited {
    text-decoration: none;
    color: inherit;
    padding: 10px;
    border: 1px solid transparent;
    border-color: inherit;
    line-height: 1;
}


