@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* 구글폰트noto sans Korean */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css');

*{
    margin: 0;
    padding: 0;
    word-break: keep-all;
    box-sizing: border-box;
    letter-spacing: -0.05rem;
    outline: 1px solid pink;
}
:root{
    font-family:'Noto Sans KR', sans-serif;
    --colorwhite:#fff;
    --colorBlack:#000;
    --colorEEE:#eee;
    --colorEEELight:#e8e8e8;
    --colorGreyBasic:#666;
    --colorGreyLight:#969696;
}
a:link,
a:visited{
    text-decoration: none;
    color:inherit
}
li {list-style-type: none;}
h1{
    font-size: 42px;
    height: 280px;
    line-height: 1;
    font-weight: 700;
    display: flex;
    align-items: center;
    padding: 0 0 0 60px;
    background: url(/imgs/kakao/ico_tit_culture.gif) no-repeat -5px 50% / 50px 50px;
}

h2{
    font-size: 36px;
    width: 100%;
    height: 36px;
    font-size: 36px;
    line-height: 1;
    font-weight: 700;
    flex-grow: 0;
}
h3{
    font-size: 36px;
    width: 100%;
    line-height: 1;
}
.inner{
    width: 1200px;
    margin: 0 auto;
    display: flex;
}
header{
    width: 100%;
    height: 70px;
    background: var(--colorwhite);
    position: sticky;
    top:0;
    left: 0;
    z-index: 100;
}
nav{
    height: 100%;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    font-size: 16px;
}
nav a.logo {
    width: 100px;
    height: 22px;
    text-indent: -200px;
    overflow: hidden;
    background: url(/imgs/kakao/img_logo.png) no-repeat 50% 50% / cover;
}
nav ul.gnb{
    display: flex;
}
nav ul.gnb:hover{
    color: var(--colorGreyLight);
}
nav ul.gnb li{
    padding: 0 30px;
    font-size: 16px;
}
nav ul.gnb li:hover{
    color:var(--colorBlack);
}
nav a.login{
position: relative;
}
nav a.login::before{display: none;}
nav a.login::after{
    content: "\f0dd";
    top: -5px;
    position: relative;
    margin-left: 5px;
}
section {width: 100%;}
section > article:nth-last-of-type(1){
    min-height: 1000px;
}
.card {
    width: 100%;
    height: 700px;
    padding: 20px 0;
}
.card .swiper-wrapper{
    display: flex;
    flex-direction: row;
}
.card .swiper-slide{
    min-width: 1080px;
    min-height: 680px;
    border-radius: 15px;
    padding: 90px 540px 90px 90px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    position: relative;
    display: flex;
    flex-flow: row wrap;
}
.card .swiper-slide >span {
    color: var(--colorGreyLight);
    align-self: flex-end;
    margin: 0 30px 0 0;
}
.card .swiper-slide > span:first-of-type{
    width: 100%;
    margin: 0;
}
.card .swiper-slide > h3{
    font-size: 36px;
    line-height: 1.4;
}
.card .swiper-slide > p {
    width: 100%;
    padding: 130px 0 0 0 ;
} 
.card .swiper-slide > video{
    width: 540px;
    height: 100%;
    position: absolute;
    top:50%;
    right: 0;
    transform: translate(40px, -50%);
    z-index: 0;
}
section > article:nth-last-of-type(2){
    flex-direction: column;
    padding: 0 0 100px 0;
}
.taButton{
    margin: 60px 0 50px 0;
    display: flex;
    gap: 0 10px;
}
.taButton > button{
    font-size: 18px;
    border-radius: 24px;
    background: var(--colorEEE);
    padding: 10px 20px;
    cursor: pointer;
    border: none;
}
/* .tabButton > button.on,
.tabButton > button:hover{
    background: var(--colorBlack);
    color: var(--colorWhite);
} */
.taButton button:hover{
    background: var(--colorBlack);
    color: var(--colorwhite);
}
.tabContent{
    display: flex;
    width: 100%;
    height: 100%;
    gap: 0 40px
}
.tabContent .benefit {
    flex: 100%;
    gap: 0 40px;
    /* display: none; */
    flex-flow: row wrap;
}
.tabContent .benefit .on{display: flex;}
.tabContent .benefit > div{
    /* width: calc(50% -20px); */
    min-height: 338px;
    padding: 50px 0 0 0;
    border-bottom: 1px solid var(--colorEEELight);
}
