@charset "utf-8";

/* lottesevenstar Tstyle  */

.inner{
    width: 100%;
}
.sec1 .inner{
    padding: 50px 40px;
    gap:30px
}
.sec1 .inner p span :last-child {display: none;}

h1{
    font-size: 48px;
    line-height: 1;
}
h2{
    font-size: 20px;
    line-height: 1;
}
.sec2{background: url(/imgs/lotte7/Rectangle배경1.png) no-repeat 50% 0 / auto 450px;
}
.sec2 .inner{
    padding: 20px 60px 0;
    
    gap: 30px;
}

.sec2 .inner > div{
    display: flex;
    flex-direction: column;
}

.sec2 .inner > div >article{
    display: flex;
    flex: 1 1 100%;
    gap: 20px;
    padding: 0;
    margin: 0px;
}
article > img{
    flex: 0 0 200px;
    width: 200px;
    height: 170px;
}
article > div {
    flex: 1 1 100%;
    padding: 10px 20px 0;
    gap: 20px;
    background: #fff;
    height: 170px;
}
.sec2 .inner > div> article:nth-child(2){ margin: 20px 0 0 0;}
.sec2 .inner > div> article:nth-child(3){ margin: 20px 0 0 0;}
.sec2 .inner h3{padding: 0;}
.sec2 .inner h4{padding: 0;}




